<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{page_title}}</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    {% endblock %}
    {% block js %}
        {#<script type="text/javascript" src="/js/common.js"></script>#}
    {% endblock %}
</head>
<body>
    <header>
        <h1>マインTodo</h1>
        <ul>
            <li>
                <a href="">デイリー</a>
                <a href="">プロジェクト</a>
            </li>
        </ul>
        <a href="">完了を削除</a>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <p>&copy; 2016 mixmaru</p>
    </footer>
</body>
</html>