.dayList{
  background-color: #ffffff;
  @include border-radius(4px);
  @include card_box_shadow();
}
.dayList__header{
  padding: 2px 0;
  position: relative;
  color: #990C00;
  font-size: 15px;
}
.dayList__dayTitle{
  text-align: center;
}
.dayList__date{
  position: absolute;
  top: 2px;
  right: 3px;
}
.dayList__contentWrapper{

}
.dayList__projectWrapper{
  border-top: solid 5px #FFD6D1;
  padding: 0 10px;
}
.dayList__projectTitle{
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: 5px;
}
.dayList__todoListWrapper{
  position: relative;
}
.dayList__todo{
  font-size: 18px;
  padding: 10px 0;
  clear: both;
  border-top: solid 2px #FFF1EF;
  &:first-child{
    border-top: none;
  }
}
.dayList__checkWrapper{
  float: left;
  width: 80px;
}
.dayList__todoTitle{
  padding:{
    left: 90px;
  }
}
.dayList__todoTitle--done{
  color: #999999;
  text-decoration: line-through;
}
.dayList__checkBox{
  font-size: 10px;
  width: 80px;
}