.dayList{
}
.dayList__header{
  padding: 2px 0;
  position: relative;
  color: #990C00;
  font-size: 15px;
  height: 20px;
}
.dayList__dayTitle{
  text-align: center;
}
.dayList__date{
  position: absolute;
  top: 2px;
  right: 3px;
}
.dayList__contentWrapper{

}
.dayList__projectWrapper{
  border-top: solid 5px #FFD6D1;
  padding: 0 10px;
}
.dayList__projectTitle{
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: 5px;
}
.dayList__todoListWrapper{
}
.dayList__addButtonWrapper{
  border-top: solid 2px #FFF1EF;
  text-align: center;
}
.dayList__addButton{
  display: block;
  color: #990C00;
  line-height: 2.2em;
}