.projectList{
  width: 100%;
}
.projectList__header{
  font-size: 15px;
  font-weight: bold;
  > tr > th{
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    border-bottom: solid 5px #FFD6D1;
  }
}
.projectList__contentWrapper{
  padding: 0 10px;
}