.todoList{
  position: relative;
}
.todoList__todo{
  position: relative;
  font-size: 18px;
  padding: 10px 0;
  clear: both;
  border-top: solid 2px #FFF1EF;
  &:first-child{
    border-top: none;
  }
}
.todoList__checkWrapper{
  @include inline-block;
  width: 80px;
}
.todoList__todoData{
  @include inline-block;
  padding:{
    left: 10px;
  }
}
.todoList__todoData--done{
  color: #999999;
  text-decoration: line-through;
}
.todoList__todoTitle{
}
.todoList__todoDateInfo{
  position: absolute;
  top: 0;
  right: 0;
}
.todoList__checkBox{
  font-size: 10px;
  width: 80px;
}
.todoList__child{
  margin-top: 10px;
  border-top: solid 2px #FFF1EF;
  padding-left: 10px;
}
